extends layout

block content

  .flex-container
      .flex-item.half_height
      .flex-item.half_height
      .flex-item.full_height
      .flex-item.full_height
      .flex-item.full_height
      .flex-item.full_height



