extends layout

block content

  h1 Index Page
  //
  //.row#headerRow
  //  .col-sm-4
  //    #headerContainer.widgetHeaderContainer
  //      h2 Indicator Report
  //  .col-sm-4
  //    #timelineContainer.widgetHeaderContainer
  //.row#reportRow
  //  .row
  //    .col-sm-6
  //      .widgetContainer
  //    .col-sm-6
  //      .widgetContainer
  //  .row
  //    .col-sm-6
  //      .widgetContainer
  //    .col-sm-6
  //      .widgetContainer

  .flex-container




