extends layout

block content

  .flex-group
    .flex-container.half_height
      .flex-item
      .flex-item
    .flex-container.full_height
      .flex-item
      .flex-item
    .flex-container.full_height
      .flex-item
      .flex-item



