extends layout
block content
    h1 Area report
    .flex-group.area_group
        .flex-container.area_container
            .flex-item.half_width.full_height Header
            .flex-item.half_width.full_height Distribution
            .flex-item.half_width.full_height Line Graph



