extends layout
block content

    h1 Indicator report
    .flex-group.indicator_group
        .flex-container.indicator_container
            .flex-item.full_width.half_height Header
            .flex-item.full_width.half_height Time slider
        .flex-container.indicator_container
            .flex-item.full_width.full_height Text
            .flex-item.full_width.full_height Map
        .flex-container.indicator_container
            .flex-item.full_width.full_height Bar graph
            .flex-item.full_width.full_height Line graph
