

.slider .axis {
    fill: #ffe166;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.axis .halo {
    stroke: #ffcd00;
    stroke-width: 4px;
    stroke-linecap: round;
}

.slider .handle path {
    stroke: white;
    stroke-width: 4px;
    stroke-linecap: round;
    pointer-events: none;
}

.slider .handle text {
    fill: white;
    text-align: center;
    font-size: 1.5em;
}